@import "../../SASS/reset";
@import "../../SASS/variables";

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-card{
    background-color: $primary;
    width: 80%;
    margin: 1rem 0;
    height: 20rem;
    border-radius: $radius;
    padding: 1rem;
    position: relative;
}

.about-card-pics{
    background-color: #eaeaea;
    height: 8rem;
    position: absolute;
    width: 8rem;
    border-radius: 50%;
}
.about-card-txt{
 
    width: 60%;
    margin-left: 20%;  
}