@import "./SASS/reset";
@import "./SASS/variables";
@import "./SASS/mixins";

.container {
  width: 100%;
  max-width: 1480px;
  margin: 2rem auto 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  text-align: center;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0 20px;
  margin-top: 2rem;
}

.heading h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: large;
  @include flexMid;
  svg {
    margin-right: 0.7rem;
  }
}

.heading p {
  font-size: 1rem;
  margin: 1rem;
}

.ticket-headings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  color: $dark;
  font-size: 0.6rem;
  font-weight: 700;
  background-color: $primary;
  text-transform: uppercase;
  color: white;
  margin-top: 2rem;
}

.form {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 1rem 1rem;
  border-radius: 5px;
  background: $primary;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  @include flexMid;
  transition: all 0.5s ease-out;
  &:hover {
    transform: scale(0.98);
    box-shadow: $shadow;
    background-color: $dark;
    color: whitesmoke;
  }
}

.btn svg {
  margin-right: 0.8rem;
}

.btn-more {
  width: 200px;
  text-transform: uppercase;
  color: black;
}

.btn-reverse {
  background: $secondary;
  color: $dark;
}

.btn-block {
  width: 100%;
  margin-bottom: 2rem;
}
.btn-cta {
  width: 40%;
  max-width: 200px;
}

.btn-sm {
  padding: 0.5rem 0.9rem;
  font-size: 0.7rem;
}

.btn-danger {
  background: $danger;
  border: none;
}

.btn-back {
  width: 15rem;
  margin-bottom: 2rem;
}

.btn-close {
  background: none;
  border: none;
  color: $primary;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.6rem;
  cursor: pointer;

  &:hover {
    color: $danger;
    transform: scale(0.98);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }
}
